<% content_for(:title, t('.title')) %>
<% breadcrumb :profile_edit %>
<div class="p-4 flex flex-col w-full text-primary">
  <%= form_with model: @user, url: profile_path, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-control">
      <%= f.label :avatar, class: "label font-bold" %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
      <%= f.label :name, class: "label font-bold" %>
      <%= f.text_field :name, class: "input input-bordered w-full" %>
      <% if @user.role != 'guest' %>
        <%= f.label :email, class: "label font-bold" %>
        <%= f.text_field :email, class: "input input-bordered w-full" %>
      <% end %>
      <div class="py-4">
        <%= f.submit t('.save'), class: "btn text-secondary" %>
      </div>
    </div>
  <% end %>
</div>