<%= search_form_for q do |f| %>
  <!--3つ連動 -->
  <div class="container mx-auto">
    <div class="md:flex flex-row">
      <%= f.collection_select :country_area_id_eq, Area.where(id: Book.all.map{ |a| a.country.area_id }), :id, :name, { include_blank: "エリア" }, class: 'text-primary border border-gray-300 rounded-md mb-2 ml-3 w-40 p-2' %>
      <!-- countryが差し込ませるポイントを指定するために追加　※１ -->
      <div id="country_insert_point"></div>
      <!-- -----------EDIT時、countryのダミー表示の切替 ※２--->
      <div id="country">
        <% if @countries.blank? %>
          <%= f.select :country_id_eq, [], { include_blank: "国" }, { class: 'text-primary border border-gray-300 rounded-md mb-2 ml-3 w-40 p-3' } %>
        <% else %>
          <%= f.collection_select :country_id_eq, @countries, :id, :name, { include_blank: "国", prompt: false }, class: 'text-primary border border-gray-300 rounded-md mb-2 ml-3 w-40 p-3' %>
        <% end %>
      </div>
      <!-- prefectureが差し込ませるポイントを指定するために追加 -->
      <div id="prefecture_insert_point"></div>
      <!-- -----------EDIT時、prefectureのダミー表示の切替 --->
      <div id="prefecture">
        <% if @prefectures.blank?  %>
          <%= f.select :prefecture_id_eq, [], { include_blank: "都道府県 (日本のみ)" }, class: 'text-primary border border-gray-300 rounded-md mb-2 ml-3 w-50 p-3' %>
        <% else %>
          <%= f.collection_select :prefecture_id_eq, @prefectures, :id, :name, { include_blank: "都道府県 (日本のみ)", prompt: false }, class: 'text-primary border border-gray-300 rounded-md mb-2 ml-3 w-50 p-3' %>
        <% end %>
      </div>
      <!-- -----------countryのtemplateを作成 ※3---------------------- -->
      <% Area.all.each do |area| %>
        <template id="country_<%= area.id %>"><!-- このidをもとに呼び出される-->
          <div id="selected_country">
            <%= f.collection_select :country_id_eq, area.countries.where(id: Book.all.map{ |a| a.country.id }), :id, :name, { include_blank: "国", prompt: false }, class: 'text-primary border border-gray-300 rounded-md mb-2 ml-3 w-40 p-3' %>
          </div>
        </template>
        <!-- -----------countryのtemplate作成途中に、prefectureのtemplateを作成を挟む※4---------------------- -->
        <% area.countries.each do |country| %>
          <template id="prefecture_<%= country.id %>"><!-- このidをもとに呼び出される-->
            <div id="selected_prefecture">
              <%= f.collection_select :prefecture_id_eq, country.prefectures.where(id: Book.all.map{ |b| b.prefecture_id }), :id, :name, { include_blank: "都道府県 (日本のみ)", prompt: false }, class: 'text-primary border border-gray-300 rounded-md mb-2 ml-3 w-50 p-3' %>
            </div>
          </template>
        <% end %>
      <% end %>
      <%= f.submit t('defaults.search'), class: 'btn w-40 ml-3 mb-2 rounded text-secondary' %>
    </div>
  </div>
<% end %>