<% content_for(:title, t('.title')) %>
<% breadcrumb :book_new %>
<div class="container mx-auto mt-3 text-primary">
  <div class="row">
    <div class="bg-white card w-96 border mb-3">
      <div class="row g-0">
        <%= image_tag @volume_info[:bookImage].blank? ? 'sample.png' : @volume_info[:bookImage], class: 'mt-5 ml-5 border object-cover h-48' %>
        <div class="card-body">
          <h5 class="card-title"><%= @volume_info[:title] %></h5>
          <p class="card-text"><%= @volume_info[:authors]&.join(', ') %></p>
          <p class="card-text"><%= @volume_info[:publishedDate] %></p>
          <%= link_to '詳細を見る', @volume_info[:infoLink], target: '_blank',  class: "font-bold"  %>
        </div>
      </div>
    </div>
    <!-- 投稿フォーム -->
    <%= form_with model: @book, url: books_path do |f| %>
      <%= render 'shared/error_messages' , object: f.object %>
      <div class="flex flex-col mb-5">
        <%= f.label :body, class: 'block form-label font-semibold text-primary' %>
        <%= f.text_area :body, class: 'block w-1/2 rounded-md border border-gray-300 p-2', rows: 5, placeholder: '5文字以上で入力してください' %>
      </div>
      <div class="mb-3 font-semibold text-primary"><p>本の舞台を選択してください</p></div>
      <!--div class="flex flex-col">
        <%#= f.collection_select :area_id, Area.all, :id, :name, { include_blank: "エリアを選択" }, class: 'border border-gray-300 rounded-md w-40 p-2 mb-3' %>
      </div>
      <div>
        <%#= f.select :country_id, [], { include_blank: "国を選択" }, class: 'border border-gray-300 w-40 rounded-md p-2' %>
      </div>
      <div class="mb-3">
        <%# Area.all.each do |area| %>
          <template id="country-of-area<%#= area.id %>">
            <%#= f.collection_select :country_id, area.countries, :id, :name, { include_blank: "国を選択" }, class: 'border border-gray-300 w-40 rounded-md p-2' %>
          </template>
        <%# end %>
      </div>
      <div class="mb-5" id="prefecture-select-form">
        <%#= f.select :prefecture_id, @prefecture, { include_blank: "都道府県を選択" } , class: 'border border-gray-300 rounded-md p-2', id: 'prefecture' %>
      </div-->
      <!--3つ連動 -->
      <div class="flex flex-col">
        <%= f.collection_select :area_id, Area.all, :id, :name, { include_blank: "エリアを選択" }, class: 'border border-gray-300 rounded-md w-40 p-2 mb-3' %>
      </div>
      <!-- countryが差し込ませるポイントを指定するために追加　※１ -->
      <div id="country_insert_point"></div>
      <!-- -----------EDIT時、countryのダミー表示の切替 ※２--->
      <div id="country">
        <div class="field">
          <% if @countries.blank? %>
            <%= f.select :country_id, [], { include_blank: "国を選択" }, class: 'border border-gray-300 w-40 rounded-md p-2 mb-3' %>
          <% else %>
            <%= f.collection_select :country_id, @countries, :id, :name, { include_blank: "国を選択", prompt: false }, class: 'border border-gray-300 w-40 rounded-md p-2 mb-3' %>
          <% end %>
        </div>
      </div>
      <!-- prefectureが差し込ませるポイントを指定するために追加 -->
      <div id="prefecture_insert_point"></div>
      <!-- -----------EDIT時、prefectureのダミー表示の切替 --->
      <div id="prefecture">
        <div class="field ">
            <% if @prefectures.blank?  %>
              <%= f.select :prefecture_id, [], { include_blank: "都道府県を選択 (日本のみ)" }, class: 'border border-gray-300 w-60 rounded-md p-2 mb-3' %>
            <% else %>
              <%= f.collection_select :prefecture_id, @prefectures, :id, :name, { include_blank: "都道府県を選択 (日本のみ)", prompt: false }, class: 'border border-gray-300 w-60 rounded-md p-2 mb-3' %>
            <% end %>
        </div>
      </div>
      <!-- -----------countryのtemplateを作成 ※3---------------------- -->
      <% Area.all.each do |area| %>
        <template id="country_<%= area.id %>"><!-- このidをもとに呼び出される-->
          <div id="selected_country">
            <div class="field" >
              <%= f.collection_select :country_id, area.countries, :id, :name, { include_blank: "国を選択", prompt: false }, class: 'border border-gray-300 w-40 rounded-md p-2 mb-3' %>
            </div>
          </div>
        </template>
        <!-- -----------countryのtemplate作成途中に、prefectureのtemplateを作成を挟む※4---------------------- -->
        <% area.countries.each do |country| %>
          <template id="prefecture_<%= country.id %>"><!-- このidをもとに呼び出される-->
            <div id="selected_prefecture">
              <div class="field" >
                <%= f.collection_select :prefecture_id, country.prefectures, :id, :name, { include_blank: "都道府県を選択 (日本のみ)", prompt: false }, class: 'border border-gray-300 w-60 rounded-md p-2 mb-3' %>
              </div>
            </div>
          </template>
        <% end %>
      <% end %>
      <%= f.hidden_field :title, value: @volume_info[:title] %>
      <%= f.hidden_field :published_date, value: @volume_info[:publishedDate] %>
      <%= f.hidden_field :info_link, value: @volume_info[:infoLink] %>
      <%= f.hidden_field :remote_book_image_url, value: @volume_info[:bookImage] %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <% @volume_info[:authors]&.each do |author| %>
        <%= hidden_field_tag 'book[authors][]', author %>
      <% end %>
      <%= f.submit class: "btn py-4 mb-5 rounded text-secondary", id: 'submit-button' %>
    <% end %>
  </div>
</div>