<% content_for(:title, @book.title) %>
<% breadcrumb :book_show, @book %>
<div class="flex items-center justify-center py-12 px-4">
  <div class="mx-auto w-full max-w-2xl">
    <div class="bg-white card border-2 px-8 pt-8 rounded-lg">
      <p class="text-xl text-center font-bold text-primary mb-3"><%= @book.title %></p>
      <div class="flex items-center mx-auto">
        <%= image_tag @book.book_image.url, class: 'object-cover mt-2 border' %>
      </div>
      <%= link_to '作品を購入する', @book.info_link, target: :_blank, rel: "noopener noreferrer", class: "bg-neutral hover:bg-accent text-secondary text-center font-bold w-1/2 mx-auto mt-3 py-2 border rounded" %>
      <div class="card-body text-primary">
        <p class="card-text font-bold flex justify-center">著者: <%= @book.authors.pluck(:name).join(', ')&.truncate(20) %></p>
        <p class="card-text flex justify-center">出版日: <%= @book.published_date %></p>
        <p class="card-text flex justify-center">舞台</p>
        <p class="card-text flex justify-center"><%= @area[@book.country.area_id - 1] %></p>
        <p class="card-text flex justify-center"><%= @book.country.name %></p>
        <% if @book.prefecture.present? %>
          <p class="card-text flex justify-center"><%= @book.prefecture.name %></p>
        <% end %>
        <div class="flex border-top my-3 flex justify-center">
          <div class="flex items-center">
            <%= image_tag @book.user.avatar_url, class: 'rounded-full mr-1 flex justify-center', size: '50x50' %><%= @book.user.name %><p class="card-text px-2">: <%= @book.body.truncate(30) %></p>
          </div>
        </div>
        <%= link_to '一覧に戻る', books_path, { class: "bg-neutral hover:bg-accent text-secondary text-center font-bold mt-2 py-2 px-3 border rounded" } %>
      </div>
      <div class="flex mb-3 text-primary">
        <% if current_user.own?(@book) %>
          <%= render 'crud_menus', { book: @book } %>
        <% else %>
          <%= render 'actions/bookmark_button', { book: @book } %>
        <% end %>
      </div>
    </div>
  </div>
</div>