<% content_for(:title, t('.title')) %>
<div class="flex items-center justify-center py-5 px-4">
  <div class="mx-auto w-full max-w-2xl">
    <div class="text-center text-2xl font-bold text-primary pb-3"><%= t('.title') %></div>
      <div class="bg-white card border-2 px-8 pt-8 pb-3 mb-3 rounded-lg">
        <%= form_with url: login_path, data: { turbo: false } do |f| %>
          <%= f.label :email, User.human_attribute_name(:email), class: "label font-bold text-primary" %>
          <%= f.email_field :email, class: "w-full py-4 px-8 input input-bordered rounded text-primary", placeholder: "***@example.com" %>
          <%= f.label :password, User.human_attribute_name(:password), class: "label font-bold text-primary" %>
          <%= f.password_field :password, class: "w-full py-4 px-8 input input-bordered rounded text-primary", placeholder: "password" %>
          <div class="py-4">
            <%= f.submit t('defaults.login'), class: "btn py-4 w-full rounded text-secondary" %>
          </div>
        <% end %>
      </div>
      <div class="bg-white card border-2 px-8 pt-8 pb-3 rounded-lg">
        <p class="font-bold mb-4 pb-2 text-center text-primary">アカウントをお持ちでない方へ</p>
        <div class="mb-5">
          <p class="mb-2 text-center fs-3 text-primary">ゲストユーザとしてログインする</p>
          <div class="flex justify-center">
            <%= button_to 'ゲストログイン', guest_login_path, class: 'btn w-100 text-secondary' %>
          </div>
        </div>
        <div class="mb-4">
          <p class="mb-2 fs-3 text-center text-primary">新しくアカウントを作成する</p>
          <div class="flex justify-center">
            <%= link_to t('.to_register_page'), new_user_path, class: 'btn w-100 text-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>